<div class="jumbotron">
  <h1 class="display-4">Countries</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores id porro nisi, voluptates enim rem hic sit nesciunt repellat alias cum 
      magni ab veniam velit. Minus deleniti non tempora assumenda.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A illo sint hic dicta sequi, numquam officiis saepe adipisci doloremque, culpa odio
         obcaecati ut blanditiis eos aut veritatis, necessitatibus in cupiditate!</p>

</div>