<div class="row animated fadeIn fast" *ngIf="(country | json) == '{}'">
    <div class="col-12">
        <div class="alert alert-primary" role="alert">
            El código {{ query }} no existe
        </div>
    </div>
</div>

<div class="card" *ngIf="(country | json) != '{}'">
    <div class="card-header font-weight-bold">
        {{ country.name }} - ( {{ country.capital }} )
    </div>
    <div class="card-body w-100 ">
        <div class="w-100">
            <div class="float-left" style="width: 20%;">
                <img [src]="country.flag" class="card-img-top w-100" alt="country.name">
            </div>
            <div class="float-right d-flex" style="width: 80%;">
                <div class="col">
                    <strong>Región</strong>
                    <p> {{ country.region }} </p>
                    <strong>Sub Región</strong>
                    <p> {{ country.subregion }} </p>
                    <strong>Población</strong>
                    <p> {{ country.population }} </p>
                </div>

                <div class="col">
                    <strong>Latitud</strong>
                    <p> {{ country.latlng[0] }} </p>
                    <strong>Longitud</strong>
                    <p> {{ country.latlng[1] }} </p>
                    <strong>Gentilicio</strong>
                    <p> {{ country.demonym }} </p>
                </div>

                <div class="col">
                    <strong>Area</strong>
                    <p> {{ country.area }} </p>
                    <strong>Tiempo de zona</strong>
                    <p> {{ country.timezones[0] }} </p>
                    <strong>Nombre nativo</strong>
                    <p> {{ country.nativeName }} </p>
                </div>
            </div>
        </div>

    </div>

    <hr>
    <ul class="list-group">
        <li class="list-group-item active">Moneda</li>
        <li class="list-group-item" > <span class="badge badge-pill badge-primary">Nombre</span> {{ country.currencies[0].name }} </li>
        <li class="list-group-item" > <span class="badge badge-pill badge-secondary">Simbolo</span> {{ country.currencies[0].symbol }} </li>
    </ul>

    <hr>
    <ul class="list-group">
        <li class="list-group-item active">Lenguaje</li>
        <li class="list-group-item" > <span class="badge badge-pill badge-primary">Código iso639_1</span> {{ country.languages[0].iso639_1 }} </li>
        <li class="list-group-item" > <span class="badge badge-pill badge-secondary">Código iso639_2</span> {{ country.languages[0].iso639_2 }} </li>
        <li class="list-group-item" > <span class="badge badge-pill badge-success">Nombre</span> {{ country.languages[0].name }} </li>
        <li class="list-group-item" > <span class="badge badge-pill badge-info">Nombre nativo</span> {{ country.languages[0].nativeName }} </li>
    </ul>

     <hr>
    <ul class="list-group">
        <li class="list-group-item active">Traducción</li>
        <li class="list-group-item" > <span class="badge badge-pill badge-primary">Alemania</span> {{ country.translations.de }} </li>
        <li class="list-group-item" > <span class="badge badge-pill badge-secondary">Español</span> {{ country.translations.es }} </li>
        <li class="list-group-item" > <span class="badge badge-pill badge-success">Fránces</span> {{ country.translations.fr }} </li>
        <li class="list-group-item" > <span class="badge badge-pill badge-danger">Japonés</span> {{ country.translations.ja }} </li>
        <li class="list-group-item" > <span class="badge badge-pill badge-warning">Italia</span> {{ country.translations.it }} </li>
        <li class="list-group-item" > <span class="badge badge-pill badge-info">Brasil</span> {{ country.translations.br }} </li>
        <li class="list-group-item" > <span class="badge badge-pill badge-light">Portugal</span> {{ country.translations.pt }} </li>
        <li class="list-group-item" > <span class="badge badge-pill badge-dark">Países Bajos</span> {{ country.translations.nl }} </li>
        <li class="list-group-item" > <span class="badge badge-pill badge-primary">Croacia</span> {{ country.translations.hr }} </li>
    </ul>
</div>