<div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" [src]="countries.flag" [alt]="countries.name">
    <div class="card-body">
        <h4 class="card-title"> {{ countries.name }} </h4>
        <p class="card-text"> {{ countries.capital }} </p>
        <p class="card-text">Población <small class="text-muted"> {{ countries.population }} </small></p>


        <button (click)="viewInfoCountry( countries.alpha2Code )" type="button" class="btn btn-outline-primary btn-block">
            Ver más...
        </button>
    </div>
</div>
