<!-- <div class="card-columns" *ngFor="let item of countries"></div> -->
<h1>Buscando: <small>{{ query }}</small></h1>
<hr>


<div class="row animated fadeIn fast" *ngIf="countries.length == 0">
    <div class="col-12">
        <div class="alert alert-primary" role="alert" >
            No existen resultados con el valor {{ query }}
        </div>
    </div>
</div>

<div class="row">
    <div class="card-columns w-100">
        <app-card-country [countries]="item" *ngFor="let item of countries"></app-card-country>
    </div>
</div>

<!-- </div> -->